@media (prefers-color-scheme: dark) {
  body { background-color: black; color:  white; }
}

body{
    background-image: url('buddha.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 33%;
    background-position: right bottom;
}

.quote {
  display: inline-block;
  line-height: 1em;
}

.actionButton {
    transform:scale(1.25);
    bottom:30px;
    background-color: #ffbd59;
    left: 30px;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)));
}
.spin{animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.quote{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 40px;
    line-height: 43px;
    font-family: verdana;
    color: black;
}

.by{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-family: verdana;
    color: black;
}

html, body {margin: 0; height: 100%; overflow: hidden}