<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bandev.buddhaquotes">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_buddha"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_buddha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/ScrollingActivity" />
        <activity
            android:name=".AddQuote"
            android:label="addList"
            android:screenOrientation="portrait"
            android:theme="@style/ScrollingActivity" />
        <activity
            android:name=".FullLicense"
            android:screenOrientation="portrait" />
        <activity
            android:name=".License"
            android:label="License"
            android:screenOrientation="portrait"
            android:theme="@style/license" />
        <activity
            android:name=".YourLists"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/about" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/settings" />
        <activity
            android:name=".AppIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutLibraries"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>