<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bandev.buddhaquotes">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_buddha"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_buddha"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FullLicense" />
        <activity android:name=".More" />
        <activity android:name=".Likes" />
        <activity android:name=".BandevPromise" />
        <activity android:name=".Slide4" />
        <activity android:name=".Slide3" />
        <activity android:name=".Slide2" />
        <activity
            android:name=".Slide1"
            android:theme="@style/slides" />
        <activity
            android:name=".License"
            android:label="License"
            android:theme="@style/license" />
        <activity android:name=".InfoPanel" />
        <activity android:name=".Favourites" />
        <activity
            android:name=".Splash"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".About"
            android:label="@string/about"
            android:theme="@style/about" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity"
            android:theme="@style/MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>